.container {
    width: 25%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.display-4 {
    font-size: 20px;
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }

    .display-4 {
        font-size: 24px;
    }

}